@model ImageServiceWebApp.Models.ConfigInfoModel
@{
    ViewBag.Title = "Config";
}

<h2>Config</h2>

<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.OutPutDir)</th><th>@Model.OutPutDir</th> 
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.SourceName)</th> <th>@Model.SourceName</th>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.LogName)</th> <th>@Model.LogName</th>
    </tr>

    <tr>
        <th>@Html.DisplayNameFor(model => model.Thumbnail)</th> <th>@Model.Thumbnail</th>
    </tr>
</table>


<h2>@Html.DisplayNameFor(model => @Model.Handlers)</h2>


<tr>
    <ul>
        @foreach (var handler in Model.Handlers)
        {
            
        }
    </ul>
</tr>


