@model ImageServiceWebApp.Models.ConfigInfoModel
@{
    ViewBag.Title = "Config";
}

<h1 style="font-family:'Lucida Calligraphy'">Config</h1>

<table class="table">
    <tr>
        <th> <span style="font-weight:bolder">@Html.DisplayNameFor(model => model.OutPutDir)</span></th><th>@Html.DisplayFor(m => m.OutPutDir)</th> 
    </tr>

    <tr>
        <th> <span style="font-weight:bolder">@Html.DisplayNameFor(model => model.SourceName) </span></th> <th>@Html.DisplayFor(m => m.SourceName)</th>
    </tr>

    <tr>
        <th> <span style="font-weight:bolder">@Html.DisplayNameFor(model => model.LogName) </span></th> <th>@Html.DisplayFor(m => m.LogName)</th>
    </tr>

    <tr>
        <th> <span style="font-weight:bolder">@Html.DisplayNameFor(model => model.Thumbnail) </span></th> <th>@Html.DisplayFor(m => m.Thumbnail)</th>
    </tr>
</table>


<h3 style="font-family:Courier New, Courier"> <span style="font-weight:bolder">@Html.DisplayNameFor(model => @Model.Handlers)</span></h3>
<div>
    <ul style="list-style:square">  
        @foreach (var handler in Model.Handlers)
        {
            <li> @Html.ActionLink(@handler, "RemoveHandler", new { remove = @handler })</li>
        }
        
        </ul>
    @{
        if (Model.Handlers.Count != 0)
        {
            <h6 style="font-family:Courier New, Courier"> <span style="text-decoration:underline"> Click on the handler to remove </span></h6>
        }
    }
 </div>

    



